*{
   margin: 0;
   font-family: Arial, Helvetica, sans-serif;
   border: border-box; /* sets the border within the same dimensions of the element rather than outside it */
}  
.navbar{
      height: 60px;
      background-color: #0F1111;
      color:white;
      display:flex;
      align-items: center;
      justify-content: space-evenly;
}
.nav-logo{
   height: 50px;
   width: 100px;
}
.logo{
   background-image: url(amazon_logo.png);
   background-size: cover;
   height: 50px;
   width: 100%;
}
.border{
   border: 2px solid transparent;
}
.border:hover{
   border: 2px solid white;
}
.deliver{
   color: #cccccc;
   font-size: 0.85rem;
   margin-left: 15px;
}
.india{
   font-size: 1rem;
   margin-left: 3px;
}
.add-icon{
   display:flex;
   align-items: center;
}

.nav-search{
   display: flex;
   justify-content: space-evenly;
   background-color: orange;
   width: 620px;
   height:40px;
   border-radius: 5px;
}
.search-select{
   background-color: #f3f3f3;
   width:50px;
   text-align: center;
   border-top-left-radius: 5px;
   border-bottom-left-radius: 5px;
   border: none;
}
.search-input{
   width: 100%;
   font-size: 1rem;
   border: none;
}
.search-icon{
   width: 45px;
   display: flex;
   justify-content: center;
   align-items: center;   
   font-size: 1.2rem;
}
.nav-search:hover{
   border: 2px solid orange;
}

span{
   font-size: 0.7rem;
}
.nav-sec{
   font-size: 0.85rem;
   font-weight: 700;
}

.nav-cart i{
   font-size: 30px;
   font-weight:700;
   
}
